<h1> Edit Page for <%= @employee.full_name %></h1>

<% if @employee.errors.messages.any? %>
    <% @employee.errors.messages.each do |type, message| %>
        <p style="color:Tomato;"><%= "That #{type} is already taken." %></p>
        <% end %>
<%end%>

<%= form_for @employee do |f| %>
    <p><%= f.label :first_name %>
    <%= f.text_field :first_name %></p>
    <p><%= f.label :last_name %>
    <%= f.text_field :last_name %></p>
    <p><%= f.label :alias %>
    <%= f.text_field :alias %></p>
    <p><%= f.label :title %>
    <%= f.text_field :title %></p>
    <p><%= f.label :office %>
    <%= f.text_field :office %>
    <p><%= f.label :dog %>
    <%= f.collection_select :dog_id, @dogs, :id, :name %></p>
    <p><%= f.label "Image URL" %>
    <%= f.text_field :img_url %></p>
    <%= f.submit "submit edits" %>
<% end %>

<br>
<%= link_to "cancel edit", employee_path(@employee) %>