<h1> <%= @employee.first_name + " " + @employee.last_name %></h1> <br>
Alias: <%= @employee.alias %><br>
Title: <%= @employee.title %><br>
Office: <%= @employee.office %><br>
Dog: <%= @employee.dog.name %><br>
<img src='<%=@employee.img_url%>' width="50%" height="50%">