
<h1> <%= @employee.name%></h1><br>
<label>Alias:</label>
<%= @employee.alias %><br>
<label>Title:</label>
<%= @employee.title %><br>
<label>Office:</label>
<%= @employee.office %><br>
<img src = <%= @employee.img_url %>>
