<h1> <%= @dog.name%></h1><br>
<label>Breed:</label>
<%= @dog.breed %><br>
<label>Age:</label>
<%= @dog.age %>
<% @dog.employees.each do |employee| %>
<li><%= employee.first_name %> <%= employee.last_name %></li>
<%end%>